<suite name="TestSuite">
<test name="Sanity" preserve-order="true">
<classes>
<class name="com.playphone.msportsUI.AccountLoginPasswordNegative"/>
<class name="com.playphone.msportsUI.AccountLoginUsernameNegative"/>
<class name="com.playphone.msportsUI.AccountLoginValidUsernamePassword"/>
<class name="com.playphone.msportsUI.AccountLogout"/>
<class name="com.playphone.msportsUI.AccountSignup"/>
<class name="com.playphone.msportsUI.AccountSignupNegative"/>
<class name="com.playphone.msportsUI.AccountSignUpWithFacebook"/>
<class name="com.playphone.msportsUI.AccountSignUpWithGoogle"/>
<class name="com.playphone.msportsUI.HomePageSupportFAQ"/>
<class name="com.playphone.msportsUI.HomePageSupportCommunity"/>
<class name="com.playphone.msportsUI.HomePageSupportFeedback"/>
<class name="com.playphone.msportsUI.HomePageSupportPrivacyPolicy"/>
<class name="com.playphone.msportsUI.HomePageSupportTC"/>
<class name="com.playphone.msportsUI.HomePageSupportContactUs"/>
<class name="com.playphone.msportsUI.HomePageLogout"/>
</classes>
</test>
</suite>
