<suite name="TestSuite">
<test name="Sanity" preserve-order="true">
<classes>
<class name="com.playphone.msportsUI.AccountLoginPasswordNegative"/>
<class name="com.playphone.msportsUI.AccountLoginUsernameNegative"/>
<class name="com.playphone.msportsUI.AccountLogout"/>
<class name="com.playphone.msportsUI.AccountSignup"/>
<class name="com.playphone.msportsUI.AccountLoginValidUsernamePassword"/>
<class name="com.playphone.msportsUI.AccountSignupNegative"/>
<class name="com.playphone.msportsUI.AccountSignUpWithFacebook"/>
<class name="com.playphone.msportsUI.AccountSignUpWithGoogle"/>
<class name="com.playphone.msportsUI.AllGamesMenu"/>
<class name="com.playphone.msportsUI.ClickPlayNow0"/>
<class name="com.playphone.msportsUI.ChangePassword"/>
<class name="com.playphone.msportsUI.EditUserProfile"/>
<class name="com.playphone.msportsUI.HomePageSupportCommunity"/>
<class name="com.playphone.msportsUI.HomePageSupportContactUs"/>
<class name="com.playphone.msportsUI.HomePageSupportFAQ"/>
<class name="com.playphone.msportsUI.HomePageSupportFeedback"/>
<class name="com.playphone.msportsUI.HomePageSupportPrivacyPolicy"/>
<class name="com.playphone.msportsUI.HomePageSupportTC"/>
<class name="com.playphone.msportsUI.SpinsPage"/>
<class name="com.playphone.msportsUI.NavBarCards"/>
<class name="com.playphone.msportsUI.NavBarWallet"/>
<class name="com.playphone.msportsUI.MenuDrawerCards"/>
<class name="com.playphone.msportsUI.MenuDrawerSpins"/>
<class name="com.playphone.msportsUI.MenuDrawerWallet"/>
<class name="com.playphone.msportsUI.MenuButton"/>
<class name="com.playphone.msportsUI.MenuHowItWorks"/>
<class name="com.playphone.msportsUI.MenuDrawerAllGames"/>
<class name="com.playphone.msportsUI.MenuDrawerSupport"/>
<class name="com.playphone.msportsUI.MenuDrawerLogin"/>
<class name="com.playphone.msportsUI.MenuDrawerSignup"/>
<class name="com.playphone.msportsUI.playTournamentMsportsClose"/>
<class name="com.playphone.msportsUI.myTournaments"/>
<class name="com.playphone.msportsUI.forgotpasswordloginpage"/>
<class name="com.playphone.msportsUI.SignupPrivacyPolicy"/>




</classes>
</test>
</suite>
