<suite name="TestSuite">
<test name="Sanity" preserve-order="true">
<classes>
<class name="com.playphone.msportsUI.AccountLoginPasswordNegative"/>
<class name="com.playphone.msportsUI.AccountLoginUsernameNegative"/>
<class name="com.playphone.msportsUI.AccountLogout"/>
<class name="com.playphone.msportsUI.AccountSignup"/>
</classes>
</test>
</suite>
